
* {
    box-sizing: border-box;
}

.card {
    max-width: 100%;
    width: 442px;
    border: 2px solid #010101;
    margin: -1px auto 99px;
    padding: 10px; 
}

.card > label {
    height: 43px;
    text-align: center;
    color: #919191;
    display: inline-block;
    padding-top: 7px;
    white-space: nowrap;
}

.card > label em {
    display: block;
    font-size: 21px;
    font-style: normal;
}

.card .result {
    position: absolute;
    width: 50%;
    top: 10px;
    left: 25%;
    text-align: center !important;
    font-size: 20px;
    font-weight: bolder;
    line-height: 52px;
}

.card .question {
    margin: 0 8% 2em;
    font-weight: bolder;
}

.card .answer {
    width: 82%;
    box-sizing: content-box;
}

.card .answer:hover {
    border:1px dotted #d5d5d5;
    background:#efefef;
    background:rgba(0,0,0,0.05);
    margin-bottom:-2px;
    margin-left:-1px;
    top:-1px
}

.card ul, .card li {
    list-style: outside none none;
    position: relative;
}

.card ul {
    width: 80%;
    margin-bottom: 10%;
    margin-left: 10%;
}

.card .answer label {
    display: block;
    width: 42px;
    margin: 0px;
    position: absolute;
    left: -9%;
    font-weight: bold;
}

